<div role="alert" ng-show="formError" class="more15alert">
    {{ formError }}
</div>
<form ng-submit="onUpdate()" role="form">
	<input type="text" name="title" ng-model="recordData.title" placeholder="to 15 characters"
	 required="required"><br>
	<textarea placeholder="description" rows="5" ng-model="recordData.description" required="
	 true"></textarea><br>
	<button type="submit" class="btn btn-info btn-sm">UPDATE</button>
	<button type="button" ng-click="cancel()" class="btn btn-success btn-sm">CANCEL</button>
</form>