@body: #efede7;
@red: #F44336;
@gray: #ffffff;

body, .modal-content {
    background-color: @body;
    font-family: 'Nunito'; 
}

h2, .btn, .message, ul li span { font-weight: bold; }

.descHead, .more15alert, .footer, .message { text-align: center; }

.jumbotron, .btn-my, btn-my:hover, .arrow, .navbar-brand { color: @gray !important; }

.top-buffer { margin-top: 20px; }

.navbar { 
    background-color: @red - 33;
    margin-bottom: 0;
    border: none;
    border-radius: 0;
    li {
        border-bottom: none;
        a {
            color: @gray !important;
            width: 110px;
        }
        .userName {
            width: 210px;
        }
    }
}

.lead a { 
    border-bottom: 2px solid black;
    font-weight: bold; 
}

.icon-bar { background-color: @gray !important; }

a { color: #212121;
    &:hover {
	    color: #212121;
	    text-decoration: none;
    }
}

.jumbotron { background-color: @red; }

.topLine {
	width: 100%;
	height: 1em;
	background-color: @red - 33;
}

.btn-my {
	margin-bottom: 1em;
	background-color: @gray - 145;
	border: 1px solid @gray - 145;
	box-shadow: 0px 4px 0px @gray - 178;
	&:hover {
        background-color: @gray - 130;
        border: 1px solid @gray - 130;
    }
}

ul { list-style: none;
    li {
	    height: 3em;
	    border-bottom: 2px solid @gray - 145;
	    margin-bottom: 10px;
        span { 
	        font-size: 110%;
	        padding-left: 2%;
	        position: relative;
	        top: 7px;
        }
        button { 
	        float: right;
	        margin-right: 1%;
	        margin-bottom: 1%;
        }
    }
}

.btn-info { box-shadow: 0px 5px 0px #0080ff; }

.btn-success { box-shadow: 0px 5px 0px #009900; }

.message {
    background-color: #FFCDD2;
    border-radius: 6px;
    height: 12em;
    border-bottom: 2px solid #BDBDBD;
    h3 {
        color: #212121; 
	    margin-top: 2em; 
    }
}

.glyphicon-hand-right { margin: 0 0.5em 0 0; }

.modal-content { height: 22em; }

.popup {
    .pos {
        top: 40px;
        width: 60%; 
        position: relative;
        left: 20%;
    }
    textarea { .pos; }
    input {
        .pos;
        top: 25px;
        padding: 12px
    }
    button {
        position: relative;
	    top: 50px;
	    left: 20%;
	}
}

.description { font-size: 1.5em; }

.more15alert { 
	color: @red;
	font-size: 1.5em; 
}

.arrow { 
    background-color: @gray - 145;
    font-size: 2em;
    padding: 0.5em;
    border-radius: 100px;
    &:hover { background-color: @gray - 178; }
}

.footer {
	position: absolute;
	bottom: 0;
	height: 40px;
	background-color: @gray - 145;
	small {
        position: relative;
        top: 10px;
    }
}